<div class="row">
    {{#each allcontact}}
    <div class="col-md-3">
        <div class="card">
            <div class="card-body ">
                <h4 class="card-title d-flex justify-content-center align-items-center ">
                    {{nombre}}
                </h4>
                <p>{{correo}}</p>
                <p> {{mensaje}} </p>
                <form action="/contact/all/delete/{{_id}}?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button class="btn btn-danger btn-block btn-sm" type="submit" >
                        delete
                    </button>
                </form>
            </div>
        </div>
    </div>
    {{else}}
    <div class="card mx-auto">
        <div class="card-body">
            <h1>Hola {{user.name}}</h1>
            <p class="lead">No hay contactos aun</p>
        </div>
    </div>
    {{/each}}
</div>